.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 22%;
    text-align: center;
    padding: 1%;
}

nav {
    width: 72%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
    background-color: #383838;
    color: white;
    
}

.content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: black;
}


footer ul {
    display: inline-block;
    vertical-align: top;
    color: white;
}

li {
    margin: 2%;
    /* outline: 1px solid red; */
}

.navigation {
   /* outline: 1px solid red;*/
    background-color: #3ABBF2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #3C61BF;
    color: white;
    width: 325px;
    height: 61px;
    border-radius: 20px;
    font-size: medium;
}